.footer {
    position:relative;
    width:100vw;
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color:#fff;
    z-index:0;
    padding-bottom: 20px;
}

.footer a{
    text-decoration: none;
}

.footer a:link, .footer a:visited {
    color:#fff;
}
